<h1>Record to MP3 Test</h1>

<h2>Upload audio file:
</h2>
<input type="file" accept="audio/*;capture=microphone">
<hr>
<h2>Record from microphone:</h2>
<div class="wrapper">
  <section class="main-controls">
    <canvas class="visualizer"></canvas>
    <div id="buttons">
      <button class="record">Record</button>
      <button class="stop">Stop</button>
    </div>
  </section>

  <section class="sound-clips">
  </section>
</body>
</div>
