<p>
  <strong><%= comment.user.email %> said: </strong>
  <%= comment.body %>
</p>

<% if comment.user.id == current_user.id %>
<p>
  <%= link_to 'Destroy Comment', [comment.voice_message, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
<% end %>
